<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class ="row form-row">
      <div class="col-xs-2 f-label">
    <%= f.label :first_name %>
    </div>
      <div class="col-xs-2 f-field">
    <%= f.text_field :first_name %>
  </div>
</div>

  <div class ="row form-row">
      <div class="col-xs-2 f-label">
    <%= f.label :last_name %>
    </div>
      <div class="col-xs-2 f-field">
    <%= f.text_field :last_name %>
  </div>
</div>

  <div class ="row form-row">
      <div class="col-xs-2 f-label">
    <%= f.label :email %>
    </div>
      <div class="col-xs-2 f-field">
    <%= f.text_field :email %>
  </div>
</div>

  <div class ="row form-row">
      <div class="col-xs-2 f-label">
    <%= f.label :username %>
    </div>
      <div class="col-xs-2 f-field">
    <%= f.text_field :username %>
  </div>
</div>

  <div class ="row form-row">
      <div class="col-xs-2 f-label">
    <%= f.label :password %>
    </div>
      <div class="col-xs-2 f-field">
    <%= f.password_field :password %>
  </div>
</div>

  <div class ="row form-row">
    <div class="col-xs-2 col-xs-offset-2">
    <%= f.submit %>
  </div>
  </div>

  <div class ="row form-row">
  <% if !logged_in? %>
     <div class="col-xs-2 col-xs-offset-2">
    <%= link_to "Login", login_path %>
  </div>
  <%end%>
  </div>

<% end %>